body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 10px;
  min-width: 280px; /* Define uma largura mínima para a janela */
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #007bff;
  padding: 5px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.header h1 {
  color: #fff;
  margin-left: 10px;
  font-size: 1.2em;
}

.icon {
  width: 20px;
  height: 20px;
}

h2 {
  color: #333;
  margin-bottom: 10px;
  font-size: 1.0em;
  text-align: center;
}

#fileName {
  margin-top: 2px; /* Reduz a margem superior */
  margin-bottom: 5px; /* Aumenta a margem inferior */
  color: #555;
}

label {
  display: block;
  margin-bottom: 5px;
}

.form-group {
  margin-bottom: 5px; /* Reduz o espaço inferior */
}

.form-group select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
}

select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px; 
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
}

input[type="text"], input[type="number"] {
  width: calc(100% - 20px);
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
}

.button-container {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.button-container button {
  flex: 1;
  padding: 10px;
  font-size: 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#processButton {
  background-color: #28a745;
  color: #fff;
  font-size: 12px;
}

#processButton:hover {
  background-color: #218838;
}

#generateHtmlButton {
  background-color: #28a745;
  color: #fff;
  font-size: 12px;
}

#generateHtmlButton:hover {
  background-color: #218838;
}

#status {
  margin-top: 10px;
  color: #007bff;
}

.result-box {
  margin-top: 10px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  white-space: pre-wrap;
}

.result-box p {
  display: flex;
  justify-content: space-between;
}

.result-box p span {
  flex: 1;
}

.result-box.modified {
  background-color: #f8d7da; /* Fundo vermelho claro */
  border-color: #f5c6cb; /* Borda vermelha clara */
}

